@model SportShop.Models.EditCustomerViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="row">

    @using (Html.BeginForm("Edit"))
    {
        @Html.HiddenFor(x => x.Id)
        <div class="col-xs-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Nazwa")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, "Nazwisko")
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, "Telefon")
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    }
</div>
