@*@model IEnumerable<SportShop.Models.ProductGridViewModel>*@
@using System.Globalization
@model SportShop.Controllers.ProductGridModel

    

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="@Url.Action("Add")" class="btn btn-primary"><i class="icon-next">Zapish</i></a>
<table class="table table-hover table-striped">
    <colgroup>
        <col/>
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Description</th>
        

    </tr>
        
       
    </thead>
    <tbody>
    @*@foreach (var item in Model)*@ 
    @*@foreach (var item in Model.Items)
    {
        <tr>
            <th>@item.Id</th>
            <th>@item.Name</th>
            <th>@item.Price.ToString("c")</th>
        </tr>
    }*@
    @Html.DisplayFor(x=>x.Items)

    </tbody>

</table>





<p>Ilosc elementow</p> 
@Model.Count
